<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>MyWiki {% block title %}Page{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
    {% block extrahead %}{% endblock %}

    <script type="text/javascript">
    function toggleBox(szDivID, iState) // 1 visible, 0 hidden
    {
      var obj = document.layers ? document.layers[szDivID] :
      document.getElementById ?  document.getElementById(szDivID).style :
      document.all[szDivID].style;
      obj.display = document.layers ? (iState ? "show" : "hide") :
      (iState ? "inline" : "none");
    }
    </script>

  </head>

  <body>

      {% spaceless %}

      <img name="btn_home" src="/wiki/static/image/home/home_up.png" alt="home"
           onclick="location.href='/wiki'" 
           onmouseover="document.btn_home.src='/wiki/static/image/home/home_over.png'" 
           onmouseout="document.btn_home.src='/wiki/static/image/home/home_up.png'"/>
      <img name="btn_login" src="/wiki/static/image/home/login_up.png" 
           alt="login" onclick="location.href='/accounts/login/?next=/wiki/home/'" 
           onmouseover="document.btn_login.src='/wiki/static/image/home/login_over.png'"
           onmouseout="document.btn_login.src='/wiki/static/image/home/login_up.png'"/>
      <img name="btn_logout" src="/wiki/static/image/home/logout_up.png" 
           alt="login" onclick="location.href='/accounts/logout/?next=/wiki/home/'" 
           onmouseover="document.btn_logout.src='/wiki/static/image/home/logout_over.png'"
           onmouseout="document.btn_logout.src='/wiki/static/image/home/logout_up.png'"/>

      <img name="btn_upload" src="/wiki/static/image/home/upload_up.png" alt="upload" onclick="location.href='/wiki/upload'" onmouseover="document.btn_upload.src='/wiki/static/image/home/upload_over.png'" onmouseout="document.btn_upload.src='/wiki/static/image/home/upload_up.png'"/>
      <img name="btn_tags" src="/wiki/static/image/home/tag_cloud_up.png" alt="tags" 
           onclick="location.href='/wiki/tagcloud/'" 
           onmouseover="document.btn_tags.src='/wiki/static/image/home/tag_cloud_over.png'"
           onmouseout="document.btn_tags.src='/wiki/static/image/home/tag_cloud_up.png'"/>
      <img name="btn_categories" src="/wiki/static/image/home/categories_up.png" alt="categories" 
           onclick="location.href='/wiki/categories/'" 
           onmouseover="document.btn_categories.src='/wiki/static/image/home/categories_over.png'"
           onmouseout="document.btn_categories.src='/wiki/static/image/home/categories_up.png'"/>
      <img name="btn_list" src="/wiki/static/image/home/list_up.png" alt="list" 
           onclick="location.href='/wiki/list/'" 
           onmouseover="document.btn_list.src='/wiki/static/image/home/list_over.png'" 
           onmouseout="document.btn_list.src='/wiki/static/image/home/list_up.png'"/>

      {%if perms.wiki.can_manage %} 

      <img name="btn_permissions" src="/wiki/static/image/home/permissions_up.png" alt="permissions" 
           onclick="location.href='/wiki/permissions/'" 
           onmouseover="document.btn_permissions.src='/wiki/static/image/home/permissions_over.png'" 
           onmouseout="document.btn_permissions.src='/wiki/static/image/home/permissions_up.png'"/>

      <img name="btn_add_group" src="/wiki/static/image/home/add_group_up.png" alt="add group" 
           onclick="location.href='/wiki/addgroup/'" 
           onmouseover="document.btn_add_group.src='/wiki/static/image/home/add_group_over.png'" 
           onmouseout="document.btn_add_group.src='/wiki/static/image/home/add_group_up.png'"/>

      <img name="btn_edit_group" src="/wiki/static/image/home/edit_group_up.png" alt="edit group" 
           onclick="location.href='/wiki/editgroup/'" 
           onmouseover="document.btn_edit_group.src='/wiki/static/image/home/edit_group_over.png'" 
           onmouseout="document.btn_edit_group.src='/wiki/static/image/home/edit_group_up.png'"/>

      {% endif %}


      {% endspaceless %}

      <br/> 
      Welcome <strong>
      {% if user.first_name %}
          {{ user.first_name|escape }}
          {% if user.last_name %}
              {{ user.last_name|escape }} 
          {% endif %}
          {% if user.username%}
              ({{ user.username }}) </strong>
          <a href="/wiki/register">Edit profile</a>
          {% endif %}
      {% else %} {% if user.username%}
          {{ user.username }} </strong>
          <a href="/wiki/register">Edit profile</a>
      {% else %}
          Anonymous.</strong> You may <a href="/wiki/register">register</a>
      {% endif %}  {% endif %} 

    <hr/> 


    <div id="content" class="colM">
    <div id="content-main">

    {% block content %}{% endblock %}
    </div></div>
  </body>
</html>

