<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>MyWiki {% block title %}Page{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
    {% block extrahead %}{% endblock %}
  </head>

<style type="text/css">
<!-- 	#menu-nav {padding: 5px; border: 1px solid #000; margin-bottom: 25px;height : 25px;}
  	#menu-nav input {margin-top: 0px;margin-right: 0;padding: 3px 15px;
		display: inline;float : right;}
--> </style>

  <div id="menu-nav">
    <input type="button" value="Backward" onclick="history.back()"/>
    <input type="button" value="Forward" onclick="history.forward()"/>
    <input type="button" value="Login" onclick="location.href='/wiki'"/>
    <input type="button" value="List" onclick="location.href='{% url djwiki.wiki.views.pages_list %}'"/>
    <input type="button" value="Home" onclick="location.href='/wiki'"/>
  </div>


  <body>
    <div id="content" class="colM">
    <div id="content-main">
    {% block content %}{% endblock %}
    </div></div>
  </body>
</html>

