{% extends "base.html" %}

{% block title %}wiki page{% endblock %}

{% block content %}
                      
    <hr/><br/>
    <h1>Page list</h1>
    <br/>
    <table cellspacing="0">
    <tbody>
        {% for choice in pages_list %}
          <tr class="{% cycle 'row1' 'row2' %}">
            <th scope="col"><a href="../{{choice.title}}"> {{ choice.title }}  {{Index}}</a></th>
            <th scope="col">Head rev No: {{choice.head_revision}}</th>
            <th scope="col">Auth: {{choice.headRevisionContent.author}}</th>
            <th scope="col">Modificated: {{choice.headRevisionContent.modificationTime|date:"jS F Y H:i:s"}}</th>
          </tr> 
        {% endfor %}
    </tbody></table>

{% endblock %}
