{% extends "base.html" %}

{% load tagging_tags %}

{% block title %}wiki page{% endblock %}


{% block content %}

    
    <hr/><br/>
    <h1>Tags list</h1>
    <br/>

    {% tag_cloud_for_model wiki.WikiPageContent as TagCloud with steps=100 distribution=linear%}
    {% for tag in TagCloud %}
        <a href='qqq' style="font-size: {{tag.font_size}}px; color: #0000FF; text-decoration: underline;">{{tag}}</a>
    {% endfor %}

    {{TagCloud}}
    {{list}}

    {% tags_for_model wiki.WikiPageContent as WikiPageContentTags %}

    <table cellspacing="0">
    <tbody>
        <th scope="col">Tag</th>
        <th scope="col">Links to</th>
        </tr>

        {% for CurrentTag in WikiPageContentTags %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <th scope="col">{{CurrentTag}}</th>

                {% tagged_objects CurrentTag in wiki.WikiPageContent as LinkedPages %}
                {% for CurrentPage in LinkedPages %}	
                    <th scope="col">
			<a href="../{{CurrentPage.title}}/rev/{{CurrentPage.revision}}"> 
                          {{ CurrentPage.title }}/{{CurrentPage.revision}}  </a>
                    </th>
                {% endfor %}
	    </tr> 
        {% endfor %}
    </tbody></table>

{% endblock %}
