{% extends "base.html" %}

{% load markdown_text %}
{% load mediawiki_text %}
{% load tagging_tags %}


{% block title %}wiki page{% endblock %}

{% block content %}
 
    <body type="text/javascript" onload="toggleBox('diff page', 0)"/>
 
    <h1>{{ page.title }}</h1>
    <hr/> 

    <h2> Tags:
        {% tags_for_object page as Tags %}
        {% for tag in Tags %}
            <a href='/wiki/pagesfortag/?f={{tag}}' style="font-size: 15px; color: #0000FF; text-decoration: underline;">{{tag}}</a>
        {% endfor %}
    </h2>  <hr/> 
    
    <div id="undiff page">

    <div class="content">
       {% ifequal page.markupType "markdown" %}
         {{ page.content|markdown_wikify|safe }}
       {% else %}
         {{ page.content|mediawiki_wikify|safe }}
       {% endifequal %}
    </div>

    </div>

    <div id="diff page">
    
    <h3>rev{{page.revision}} diff rev{{page.prev_revision}}</h3>
     
    <hr/>

    <div class="content">
       {% ifequal page.markupType "markdown" %}
         {{ diff_content|markdown_wikify|safe }}
       {% else %}
         {{ diff_content|mediawiki_wikify|safe }}
       {% endifequal %}
    </div>

    </div>

    
    <hr/><br/>

    {% ifequal page.revision pageTitle.head_revision %}
      <input type="button" value="edit" onclick="location.href=location.pathname+'edit/'" class="default"/> 
    {% else %}
      edit
    {% endifequal %}

    {% ifnotequal page.revision 0 %}
      {% ifequal page.revision pageTitle.head_revision %}
        <input type="button" value="rev{{page.prev_revision}}" onclick="location.href=location.pathname+'rev/{{page.prev_revision}}/'" class="default"/>
      {% else %} 
        <input type="button" value="rev{{page.prev_revision}}" onclick="location.href=location.pathname+'../{{page.prev_revision}}/'" class="default"/>
      {% endifequal %}
    {% else %}
      | first rev
      {% ifequal pageTitle.head_revision 0 %}
       | 
      {% endifequal %}
    {% endifnotequal %}

    {% ifnotequal page.revision pageTitle.head_revision %} 
      <input type="button" value="rev{{page.next_revision}}" onclick="location.href=location.pathname+'../{{page.next_revision}}/'" class="default"/> 
    {% else %}
      head rev
    {% endifnotequal %}

    {% ifnotequal page.revision 0 %} 
    <input type="button" value="show diff" onclick="if(value == 'show diff'){toggleBox('undiff page',0);toggleBox('diff page',1); value='hide diff';}else{toggleBox('undiff page',1);toggleBox('diff page',0); value='show diff'}" class="default"/>
    {% endifnotequal %}
    <b>&nbsp; Author: </b>{{ page.author }}
    <b>&nbsp; Revision: </b>{{ page.revision }}
    <b>&nbsp; Last Modified: </b>{{ page.modificationTime|date:"jS F Y H:i:s" }}

{% endblock %}



